body {
	font-family: 'Lusitana', serif;
	color: #fffdf9;
}

#front-page {
	background-image: url("../images/main_background.jpg");
	padding-top: 150px;
	padding-bottom: 150px;
}

#front-page-text {
	padding-top: 150px;
	text-transform: uppercase;
}

#skills-section {
	color: #33260e;
	height: 680px;
}

.col-sm-4 i{
	display: block;
	text-align: center;
	color: #f48e2e;
}

.col-sm-4 .fa {
	padding-top: 21px;
}

.col-sm-4 .icon-javascript {
	font-size: 6em;
	text-align: center;
	padding-left: 22px;
}

#portfolio-section {

}

#resume-section {

}

