body {
	font-family: 'Lusitana', serif;
	color: #fffdf9;
}

#front-page {
	background-image: url("../images/main_background.jpg");
	padding-top: 150px;
	padding-bottom: 150px;
}

#front-page-text {
	padding-top: 150px;
	text-transform: uppercase;
}



